<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

    <title>Ruby Book Bundle - Available for 1 week only!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <header>
    <span class="rwd-line">The Ruby Book Bundle will be available for 1 week only starting</span>
    <span class="rwd-line"><strong>July 6th 6AM PDT</strong> and ending <strong>July 10th Midnight PDT</strong></span>
  </header>

	<div class="container books header">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">

				<img src="img/ruby-book-bundle.png" width="573" class="book-collage" alt="Ruby Book Bundle">

        <h1>
          6 Ruby Books.
          <br/>
          <span class="old-price text-muted">$424</span>
          <br />
          <span class="new-price">$199</span>
        </h1>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
        <h4 style="color: #95a5a6;">Available in...</h4>
        <div class="clock"></div>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h3>At $199, you're getting over 50% off the price you'd pay if you bought these books separately.</h3>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-4">
        <a href="http://brandonhilkert.com/books/build-a-ruby-gem/" target="_blank">
          <img src="img/build-a-ruby-gem-cover-front.png" width="108" alt="Build a Ruby Gem Book Cover">
        </a>
        <h4>
          <a href="http://brandonhilkert.com/books/build-a-ruby-gem/" target="_blank">
            Build a Ruby Gem
          </a>
          <br />
          <span class="old-price">$129</span>
        </h4>
        <h5>by <a href="#authors">Brandon Hilkert</a></h5>
				<p>
          Whether you're an expert Rubyist, or just starting out,
          this book will guide you through the process of creating
          your own Ruby gem from start to finish. This package includes 14
          screencasts totaling over 2 hours of video content.
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
        <a href="http://chriskottom.com/minitestcookbook/" target="_blank">
          <img src="img/minitest-cookbook-cover-front.jpg" width="124" alt="Minitest Cookbook Book Cover">
        </a>
        <h4>
          <a href="http://chriskottom.com/minitestcookbook/" target="_blank">
            Minitest Cookbook
          </a>
          <br />
          <span class="old-price">$39</span>
        </h4>
        <h5>by <a href="#authors">Chris Kottom</a></h5>
				<p>
          This book is here to help Rubyists at all
          skill levels manage the techniques they need to
          write clear, effective, maintainable tests using the
          Minitest framework and to help others do the same.
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
        <a href="http://rails-refactoring.com" target="_blank">
          <img src="img/fearless-refactoring-cover-front.png" width="124" alt="Fearless Refactoring Book Cover">
        </a>
        <h4>
          <a href="http://rails-refactoring.com" target="_blank">
            Fearless Refactoring
          </a>
          <br />
          <span class="old-price">$49</span>
        </h4>
        <h5>by <a href="#authors">Andrzej Krzywda</a></h5>
				<p>
          This book is a safe, step-by-step process of refactoring your Rails code, starting from controllers.
          You'll learn how to apply service objects, repositories, adapters and form objects in real-life projects.
        </p>
			</div><!--/col-lg-4 -->
    </div>

		<div class="row mt centered">
			<div class="col-lg-4">
        <a href="https://www.justinweiss.com/practicing-rails/" target="_blank">
          <img src="img/practicing-rails-cover-front.png" width="133" alt="Practicing Rails Book Cover">
        </a>
        <h4>
          <a href="https://www.justinweiss.com/practicing-rails/" target="_blank">
            Practicing Rails
          </a>
          <br />
          <span class="old-price">$49</span>
        </h4>
        <h5>by <a href="#authors">Justin Weiss</a></h5>
				<p>
          Rails can feel overwhelming, but you don’t have to let it crush you.
          Practicing Rails will teach you how to write your own Rails apps,
          without giving up, and without getting overwhelmed.
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
        <a href="http://clean-ruby.com/dsl" target="_blank">
          <img src="img/dsl-handbook-cover-front.png" width="106" alt="The Ruby DSL Handbook Cover">
        </a>
        <h4>
          <a href="http://clean-ruby.com/dsl" target="_blank">
            Ruby DSL Handbook
          </a>
          <br />
          <span class="old-price">$119</span>
        </h4>
        <h5>by <a href="#authors">Jim Gay</a></h5>
				<p>
          Find out, step-by-step, how powerful you can be and how quick
          to understand techniques will have you creating program language
          that fits your domain. Grab the Ruby DSL Handbook and feel
          like readers who say "The chapter on custom initializers blew me away!"
          This includes the complete package with cheatsheets, sample code, and all screencasts.
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
        <a href="https://rebuilding-rails.com/" target="_blank">
          <img src="img/rebuilding-rails-cover-front.png" width="132" alt="Rebuilding Rails Book Cover">
        </a>
        <h4>
          <a href="https://rebuilding-rails.com/" target="_blank">
            Rebuilding Rails
          </a>
          <br />
          <span class="old-price">$39.99</span>
        </h4>
        <h5>by <a href="#authors">Noah Gibbs</a></h5>
				<p>
          Want to understand Ruby on Rails deeply? Or build your
          own custom Ruby web framework? The best way to understand
          it is to build it. This book walks you through building a full,
          working framework and points you to where you can learn even more.
        </p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->

	<div class="container-fluid dark-section">
    <div class="container">
      <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
          <h1>What People are Saying...</h1>
        </div>
      </div><!-- /row -->

      <! -- CAROUSEL -->
      <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3" style="min-height: 250px;">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <blockquote>
                  <q>
                    Building Ruby gems is intimidating. It seems impossible to find the right documentation when you need it. Most of the information out there assumes that you already know what you’re doing. And there’s never been a great guide to get started.
                    Build a Ruby Gem will teach you all of that, in a short, simple, totally approachable guide. It’s the most information about building gems I’ve ever seen in one place, and I can tell I’ll be opening it back up whenever I have a question about a gem I’m building.
                    Even if you’ve been creating gems for years, you’ll *still* learn a ton from Build a Ruby Gem. I certainly did.
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    I wish I were living inside Jim Gay's codebase
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    One of the best Ruby E-Books that I have ever read. Building a Rails-like Framework is an awesome way to teach internals of Rails and you are doing it really well.
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    Fearless Refactoring - Rails Controllers" by Andrzej Krzywda is a great resource for everyone who at least once encountered legacy Rails application. With good examples, refactoring techniques, and step by step guides it is a worthy read for novices and intermediate developers. Even if you are an expert, the book will save you time by giving you tested solutions for dealing with legacy Rails apps.
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    I consider Practicing Rails among the best software books I’ve read. It clearly explains the exact approach I took when learning Ruby and Rails. In a couple hours, you can learn the most important lessons that took me almost a decade to figure out. I just wish I had this book when I started. I’m glad I have it now.
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    I recently ran into an issue at work where we needed to use one of our custom Rails generators in another project. I knew the best way to accomplish this was with a gem, but, I'd never built a gem before and felt pretty intimidated.
                    While researching how to build a gem, I came across Brandon’s book, "Build a Ruby Gem". Feeling overwhelmed by the task at hand, I took a chance and purchased a copy. It was worth every penny.

                    Brandon's book is clear, well organized, easy to follow and comprehensive. I was able to breeze through the book while following his sample code to build - and publish - my gem in just one day!
                  </q>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <q>
                    Fearless Refactoring helped me embrace the simplicity and powerfulness of service objects and lean controller code. Ever since I've started using exception-based control flow my code became much more readable and fun to work with. 10/10 would recommend.
                  </q>
                </blockquote>
              </div>


              <div class="item">
                <blockquote>
                  <q>
                    Jim is one of those rare people who can crank out award winning site designs, go and implement the backend Rails functionality, and be lead engineer for his project team… all on one project. I’ve seen him do it.

                    Jim is someone to watch out for, and get on your project if you can. (Especially with his upcoming book, which I think will rock the Ruby on Rails world a little bit, changing how the community thinks about large/complex Rails codebases.).
                  </q>
                </blockquote>
              </div>
            </div>
          </div>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
    </div>
	</div><! --/container -->

	<div class="container pricing">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
        <h1>Pricing</h1>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="price">
          <h1>
            <span class="currency">$</span>
            <span class="new-price">199</span>
          </h1>
          <p class="mt">
            Building a Ruby Gem Ebook/Screencasts</br>
            Minitest Cookbook Ebook w/ Code</br>
            Fearless Refactoring</br>
            Practicing Rails</br>
            Ruby DSL Handbook Complete</br>
            Rebuilding Rails
          </p>
          <p class="mt">
            <span style="font-style: italic;">
              Available starting July 6th, 9AM PDT...
            </span>
            <!-- <a href="https://gum.co/ruby&#45;book&#45;bundle/landing?wanted=true&#38;locale=true" class="btn btn&#45;lg btn&#45;trans">Buy now</a> -->

            <form action="//brandonhilkert.us7.list-manage.com/subscribe/post?u=34ccc3aa2135746d0231c9420&amp;id=1dd72e1a43" method="post" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" placeholder="you@domain.com">
              <br />
              <input type="submit" value="Keep me updated!" name="subscribe" class="button">
            </form>
          </p>

        </div>
      </div><!--/col-md-4 -->
    </div>
  </div>

	<div class="container-fluid dark-section authors" id="authors">
    <div class="container">
      <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
          <h1>About the Authors</h1>
        </div>
      </div><!-- /row -->

      <div class="row mt centered">
        <div class="col-lg-4">
          <img src="img/brandon-hilkert.jpg" alt="Brandon Hilkert">
          <h4>Brandon Hilkert</h4>
          <p>Brandon's been building Ruby applications since 2009. He regularly writes at <a href="http://brandonhilkert.com" target="_blank">brandonhilkert.com</a>.</p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="img/chris-kottom.jpg" width="140" alt="Chris Kottom">
          <h4>Chris Kottom</h4>
          <p>
            Chris has been working in technology and on the web since 1995.
            Check out his writings at <a href="http://chriskottom.com" target="_blank">chriskottom.com</a>.
          </p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="img/andrzej-krzywda.png" width="140" alt="Andrzej Krzywda">
          <h4>Andrzej Krzywda</h4>
          <p>
            Andrzej worked on, reviewed and helped with hundreds of Rails apps, since 2004.
            He can be found blogging at the <a href="http://blog.arkency.com/" target="_blank">Arkency blog</a>.
          </p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
          <img src="img/justin-weiss.jpg" alt="Justin Weiss">
          <h4>Justin Weiss</h4>
          <p>
            By day, Justin Weiss manages several teams of developers at Avvo.
            On his website, <a href="http://justinweiss.com" target="_blank">justinweiss.com</a>,
            he writes clear, simple tutorials to help Rails developers write fast, clean, well-tested apps.
          </p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="img/jim-gay.jpg" width="140" alt="Jim Gay">
          <h4>Jim Gay</h4>
          <p>
            Jim's eye for code comprehension and organization probably stems from
            is background in Graphic Design. Find more of his thoughts at
            <a href="http://www.saturnflyer.com" target="_blank">www.saturnflyer.com</a>.
          </p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="img/noah-gibbs.jpg" width="140" alt="Noah Gibbs">
          <h4>Noah Gibbs</h4>
          <p>
            Noah has spoken at GoGaRuCo,
            taught Ruby on Rails at Carnegie Mellon, been a professional Ruby guru since 2010
            and enjoyed programming for 30 years. He writes at <a href="http://codefol.io" target="_blank">codefol.io</a>.
          </p>
        </div><!--/col-lg-4 -->
      </div><!-- /row -->
    </div>
	</div><!-- /container -->

	<div class="container questions">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Questions?</h1>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-offset-1 col-lg-5">
				<h4>What will I receive?</h4>
				<p>
          You'll immediately get the following to download:
          Build a Ruby Gem ebook (pdf, epub, mobi) with source code and screencasts,
          Minitest Cookbook ebook (pdf, epub, mobi) and source code examples,
          Practicing Rails ebook (pdf, epub, mobi),
          Fearless Refactoring ebook (pdf),
          Ruby DSL Handbook (pdf, epub, mobi) with cheatsheets, sample code and screencasts,
          Rebuilding Rails ebook (pdf).
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-offset-1 col-lg-5">
				<h4>What if I'm not happy with the bundle?</h4>
				<p>
          If you're not 100% satisfied with the value in this bundle,
          <a href="mailto:brandonhilkert+bundle@gmail.com">shoot us an email</a>
          and we'll refund your money within the first 30 days.
        </p>
			</div><!--/col-lg-4 -->
    </div>

		<div class="row mt">
			<div class="col-lg-12 text-center">
				<h4>Can I share this with friends?</h4>
				<p>
          Absolutely!<br /><br />
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rubybookbundle.com" data-text="The Ruby Book Bundle available for a limited time!">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          or
          <a href="mailto:?subject=Check%20out%20the%20Ruby%20book%20bundle&amp;body=Hey%20-%20Check%20out%20the%20Ruby%20book%20bundle.%207%20awesome%20Ruby%20ebooks%20for%20%24199!%0A%0A">email it!</a>
        </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-offset-1 col-lg-5">
			</div><!--/col-lg-4 -->
    </div>
  </div>

	<div class="container">
		<hr>
		<p class="footer">
      Copyright &copy; 2015 Brandon Hilkert, Jim Gay, Noah Gibbs, Justin Weiss, Chris Kottom & Andrzej Krzywda
    </p>
	</div><!-- /container -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/flipclock.min.js"></script>
  <!-- <script src="https://gumroad.com/js/gumroad.js"></script> -->

  <script>
    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split('&');
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
          return decodeURIComponent(pair[1]);
        }
      }
      return null;
    }

    function updateGumroadLinkWithCoupon(el) {
      var href = el.attr('href');
      var parts = href.split('?');
      var url = parts[0].split('/');
      el.attr('href', parts[0].replace('landing', getQueryVariable('c')) + '?' + parts[1]);
    }

    if (getQueryVariable("c")) {
      $(".pricing a").each(function(i) {
          updateGumroadLinkWithCoupon($(this));
      });
    } else {

    }
    // Grab the current date
    var currentDate = new Date();

    // Set some date in the future. In this case, it's always Jan 1
    var futureDate  = new Date("July 6, 2015 09:00:00 EST");

    // Calculate the difference in seconds between the future and current date
    var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

    var clock = $('.clock').FlipClock(diff, {
      countdown: true,
      clockFace: 'DailyCounter',
      showSeconds: false
    });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63757920-1', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
</html>
